[Unit]
Description=Vaultium Backup Job
Wants=network-online.target
After=network-online.target mysql.service mariadb.service postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vaultium backup --config /etc/vaultium/vaultium.conf
User=root
Group=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ReadWritePaths=/var/backups/vaultium /run /tmp