[Unit]
Description=Vaultium Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/vaultium agent --config /etc/vaultium/vaultium.conf
Restart=on-failure
RestartSec=5s
User=root
Group=root

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ReadWritePaths=/var/backups/vaultium /run /tmp

[Install]
WantedBy=multi-user.target